.navbar{
    
    width: 100%;
}
.userid,h1{
    height: 10%;
    color: royalblue;
    margin-left: 82px;
    margin-top: 27px;
}

.error1{
  margin-left: 136px;
    color: #ffe000;
    margin-top: -16px;
}

.error2{
    margin-left: 136px;
    color: #ffe000;
    margin-top: -16px;
}

.error3{
    margin-left: 136px;
    color: #ffe000;
    margin-top: -16px;
}
.error4{
    margin-left: 85px;
    color: #ffe000;
    margin-top: -16px;
}
.error5{
    margin-left: 136px;
    color: #ffe000;
    margin-top: -16px;
}
.error6{
    margin-left: 136px;
    color: #ffe000;
    margin-top: -16px;
}

#withdraw{
    margin-left: 50%;
    margin-top: -27rem;
}

#deposit{
    margin-left: 210px;
}


.s1{
    background-color: grey;
    opacity: 50%;
}